#prompt {
    width: 250px;
    height: 50px;
    top: 500px;
    padding: 5px 10px;
    border: 1px solid #000;
    position: absolute;
    animation: prompt 3s 0s;
}

@keyframes prompt {
    0% {
        transform: scale(0);
    }
    80% {
         transform: scale(1);
    }
    100% {
       opacity: 1;
    }
}

.title {
    font-weight: bold;
    text-align: center;
}

.Button {
    text-align: center;
    padding: 5px;
}

.Button button{
    text-align: center;
    padding: 5px 10px;
}

